/*-----------General-------*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

body {
	background-color: white;
}

a{
	text-decoration: none;
}

.ocultar { display: none; }


/*------Header------*/
header {
	width: 100%;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
}
header div.encabezado {
	background-color:  #222222;
	padding: 5px 10px;
	overflow: hidden;
	
}

/*Logo*/

div.logo {
	float: left;
	width: 70%;
	padding: 8px 0 0 13px;
	margin: auto;
}

div.logo h2 a{
	font-size: .9em;
	font-family: 'Calisto MT Bold', Verdana, Cambria;
	color: white;
	text-transform: uppercase;
	line-height: 1px;
	letter-spacing: 5px;
}

nav.navegacion-principal{
	width: 30%;
	float: left;
}

nav.navegacion-principal a {
	display: inline-block;
	margin-right: 5px;
	padding: 10px 15px;
	font-size: .9em;
	font-family: 'Calisto MT Bold', Verdana, Cambria;
	color: #ffffff;
}

nav.navegacion-principal a:hover {
	background-color: white;
	color: black;
	border-radius: 20px;
	transition: all .6s ease;
}

/*Intro de la pagina en index.html*/
.presentacion{
	display: block;
	margin-top: 20px;
	background: #dedede;
	color: black;
	padding: 20px;
	width: 80%;
	font-family: Arial, Helvetica, sans-serif;
}

div.introduccion {
	padding: auto;
}

div.introduccion h2{
	margin-bottom: 10px;	
	font-size: 2.3em;
	/*font-family: ; Colocarle fuente*/
	text-align: center;
}

div.introduccion p {
	text-align: justify;
	padding: 10px 15px;
	box-shadow: 0px 30px 30px #666;
	border: 5px solid #1E87E9;
	text-indent: 50px; /*Le añade una tabulacion de 50px*/
}

/*Cuerpo de la pagina*/
div.contenedor {
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

div.contenido, div#contenido-tabla {
	padding: 20px 10px;
	margin-top: 10px;
	float: right;
	width: 78%;
	height: 1000px;
	max-height: 1000px;
}

div.encabezado-tabla h2 {
	width: 95%;
	font-size: 1.7em;
	border-bottom: 1px solid #D5D5D5;
}

.buscador{
	float: right;
	margin-top: 10px;
	margin-right: 7%;
}

.buscador input{
	border-radius: 5px;
	padding: 5px 10px;
}

/*Botones*/
.button {
	padding: 10px 15px;
	border-radius: 10px;
	display: inline-block;
}

.button:hover {	
	cursor: pointer;
}

#registrar, #editar, #eliminar {
	text-transform: uppercase;
	color: white;
	font-family: Arial, Verdana, 'Times New Roman';
}


#registrar {
	font-size: 1.1em;
	margin-top: 5px;
	background: #1E87E9;
}

#registrar:hover, #editar:hover {
	background-color: #4E9DE6;
}


#registar, #editar {
	background: #1E87E9;
}

#editar, #eliminar {
	font-size: 14px;
	padding: 10px 15px;
	text-transform: capitalize;
}

#eliminar {
	background-color: #FC1E1E;
}

#eliminar:hover {
	background-color: #FF4343;
}

/*Tabla de datos registrados*/
table {
	margin-top: 10px;
}

table thead tr th {
	font-size: 16px;
	text-transform: capitalize;
	font-family: Verdana, Arial, 'Times New Roman';
	padding: 10px 15px;
	margin-right: 25px;
	border-right: 2px solid #D5D5D5;
}

table tbody tr td {
	text-align: center;
	padding: 5px 10px;
	font-size: 14px;
	font-family: Verdana, Arial;
	text-transform: capitalize;

}

table tr:nth-child(4n),
table tr:nth-child(4n-2) {
  background-color: #dcdcdc;
}

/*Barra de Menu Lateral*/
nav.navegacion-vertical {
	background-color: #EDEBEB;
	float: left;
	width: 20%;
	height: 100%; /* Full-height: remove this if you want "auto" height */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	left: 0;
	top: 7.1%;
	padding-top: 10px;
}

nav.navegacion-vertical a.tablinks{
	font-size: 1.2em;
	font-family: Arial, Verdana;
	border-bottom: .5px solid #1E87E9;
	padding: 15px 20px;
	display: block;  
	transition: all .3s ease;
	cursor: pointer;
}

nav.navegacion-vertical a.tablinks:not(.active){
	color: #1E87E9;
}

nav.navegacion-vertical a.tablinks:nth-child(4) { border:none;}

nav.navegacion-vertical a.tablinks:hover, .pagination a:hover, .active {
	background-color: #1E87E9;
	color: white;
}

/* Pagination links */
.pagination { width: 50%; }

.pagination a {
	color: #1E87E9;
	float: left;
	padding: 8px 16px;
	transition: background-color .3s;
	margin: 15px 5px;
	border-radius:40%;
}


/*------------Footer--------*/
footer {
	width: 80%;
	padding: 10px 15px;
	background-color: black;
	float: right;
	overflow: hidden;
}

footer p {
	color: white;
	text-align:center; 
}

/* Formularios */
div.contenido form{
    width: 90%;
    border: 5px solid #1E87E9;
    padding: 20px 25px;
    margin: 0 auto;
    text-align: center;
}

div.contenido form h2 {	margin-bottom: 20px;}

div.contenido form div.campo{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

div.campo label{
	display: block;
	margin-left: 25%;
	margin-bottom: 5px;
	font-size: 18px;
	text-align: left;
}

div.campo input{
    margin-bottom: 5px;
    width: 50%;
    padding: 5px 15px;
    border: none;
    border-bottom: 1px solid black;
}

div.campo  p {
	display: inline-block;
	margin: 8px 10px auto 10px;
}

div.campo p input[type="radio"] {
	width: 100%;
	float: left;
}

input[type="submit"]{
    background: #1E87E9;
    color: white;
    width: 60%;
    text-align: center;
    border: none;
    padding: 10px;
}

input[type="submit"]:hover{
    background: #4E9DE6;
    cursor: pointer;
}